@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Regular.woff2") format("woff2"), url("SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-SemiBold.woff2") format("woff2"), url("SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("SourceSansPro-Black.woff2") format("woff2"), url("SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  min-width: 320px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container .container {
    max-width: none;
  }
}

.btn {
  display: inline-block;
  width: 190px;
  height: 50px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: transparent;
  padding: 12px 0;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.btn:hover {
  background-color: #fb414e;
}

p {
  color: #1f1f1f;
}

.title {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    font-size: 28px;
    top: 74px;
    width: 100%;
    right: -100%;
    -webkit-transition: right .5s ease;
    transition: right .5s ease;
    background-color: rgba(0, 0, 0, 0.95);
  }
}

@media (max-width: 992px) {
  .nav--active {
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    top: 74px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
  }
}

.nav--active .nav__link:hover {
  color: #dadd1f;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .nav__list {
    display: block;
  }
}

.nav__item {
  margin-bottom: 20px;
}

.nav__item:not(:first-child) {
  margin-left: 58px;
}

@media (max-width: 992px) {
  .nav__item:not(:first-child) {
    margin-left: 0;
  }
}

.nav__link {
  position: relative;
  font-weight: 500;
  color: #fff;
}

.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #fb414e;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:hover {
  color: #d1d1d1;
}

@media (max-width: 992px) {
  .nav__link::after {
    display: none;
  }
}

.nav-toggle {
  display: none;
  background-color: transparent;
}

@media (max-width: 992px) {
  .nav-toggle {
    display: block;
  }
}

@media (max-width: 992px) {
  .nav-toggle__item {
    display: block;
    position: relative;
    width: 32px;
    height: 4px;
    font-size: 0;
    background-color: #fff;
  }
  .nav-toggle__item::before, .nav-toggle__item::after {
    content: "";
    width: 32px;
    height: 4px;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #fff;
    -webkit-transition: top .2s linear .2s, -webkit-transform  .2s ease-in;
    transition: top .2s linear .2s, -webkit-transform  .2s ease-in;
    transition: transform  .2s ease-in, top .2s linear .2s;
    transition: transform  .2s ease-in, top .2s linear .2s, -webkit-transform  .2s ease-in;
  }
  .nav-toggle__item::after {
    top: 10px;
  }
}

@media (max-width: 992px) {
  .nav-toggle--active .nav-toggle__item {
    background-color: transparent;
  }
  .nav-toggle--active .nav-toggle__item::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
  .nav-toggle--active .nav-toggle__item::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
}

.mainblock {
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0 180px;
}

.mainblock::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

@media (max-width: 1200px) {
  .mainblock {
    padding: 110px 0 130px;
  }
}

@media (max-width: 576px) {
  .mainblock {
    padding: 96px 0 100px;
  }
}

.mainblock__wrapper {
  position: relative;
  max-width: 1102px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.mainblock__title {
  font-family: 'Source Sans Pro';
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mainblock__title {
    font-size: 44px;
  }
}

@media (max-width: 576px) {
  .mainblock__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.mainblock__text {
  max-width: 652px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mainblock__text {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .mainblock__text {
    margin-bottom: 30px;
  }
}

.mainblock__btn {
  border: 2px solid #fb414e;
}

.mainblock__btn:hover {
  background-color: #fb414e;
}

.btn--red {
  background-color: #fb414e;
  margin-right: 30px;
}

.btn--red:hover {
  background-color: #cf3943;
}

@media (max-width: 576px) {
  .btn--red {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.features {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .features__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  background-color: #202b30;
  padding: 74px 55px;
  margin: 20px;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.features__item:hover {
  background-color: #fb414e;
}

@media (max-width: 992px) {
  .features__item {
    padding: 40px 20px;
  }
}

@media (max-width: 567px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.features__img {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .features__img {
    margin-bottom: 30px;
  }
}

.features__title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin-bottom: 26px;
}

.features__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -26px;
  background-color: #fff;
}

.features__text {
  color: #fff;
  padding-top: 26px;
}

.services {
  padding-bottom: 60px;
}

.services__column {
  text-align: center;
  margin-bottom: 50px;
}

.services__subtitle {
  text-transform: uppercase;
  font-size: 20px;
  color: #fb414e;
  margin-bottom: 18px;
}

.services__title {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 48px;
  color: #000;
  margin-bottom: 30px;
}

.services__title > span {
  color: #fb414e;
}

@media (max-width: 576px) {
  .services__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.services__text {
  max-width: 640px;
  margin: 0 auto;
  color: #838383;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.services-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  padding: 30px 50px;
}

@media (max-width: 992px) {
  .services-item {
    padding: 20px 20px;
  }
}

@media (max-width: 576px) {
  .services-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.services-item__img {
  margin-bottom: 34px;
}

@media (max-width: 576px) {
  .services-item__img {
    margin-bottom: 20px;
  }
}

.services-item__title {
  font-family: 'Source Sans Pro';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 34px;
  color: #000;
}

@media (max-width: 576px) {
  .services-item__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.services-item__text {
  color: #838383;
}

.plans {
  background-color: #202b30;
}

.plans__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 114px 0;
}

@media (max-width: 992px) {
  .plans__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  .plans__row {
    padding: 60px 0;
  }
}

.plans-info {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .plans-info {
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.plans__title {
  margin-bottom: 44px;
}

@media (max-width: 576px) {
  .plans__title {
    margin-bottom: 20px;
  }
}

.plans__text {
  max-width: 562px;
  color: #fff;
  margin-bottom: 44px;
}

@media (max-width: 992px) {
  .plans__text {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.plans__btn {
  border: 2px solid #fff;
}

.plans__img:first-child {
  margin-right: 34px;
}

@media (max-width: 1200px) {
  .plans__img {
    width: 216px;
  }
}

@media (max-width: 992px) {
  .plans__img {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .plans__img {
    display: block;
    margin-bottom: 15px;
  }
  .plans__img:first-child {
    margin-right: 0;
  }
}

.provide {
  padding: 138px 0 98px;
}

@media (max-width: 1200px) {
  .provide {
    padding: 114px 0 74px;
  }
}

@media (max-width: 992px) {
  .provide {
    padding: 60px 0 20px;
  }
}

.provide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .provide__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.provide-objective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .provide-objective {
    max-width: 576px;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.provide__item {
  max-width: 287px;
  padding: 0 40px 40px 0;
}

@media (max-width: 1200px) {
  .provide__item {
    padding: 20px;
    margin: 0 auto;
  }
}

.povide__title {
  color: #1f1f1f;
  margin-bottom: 22px;
}

@media (max-width: 1200px) {
  .provide-description {
    max-width: 592px;
    text-align: center;
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.provide-description__title {
  color: #1f1f1f;
  margin-bottom: 50px;
}

.provide-description__text {
  margin: 0 44px 30px 0;
}

@media (max-width: 1200px) {
  .provide-description__text {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */