// colors

$white: #fff;
$red: #fb414e;
$dark-red: #cf3943;
$gray-bg: #202b30;
$lightGray-text: #838383;
$darkGray-title: #1f1f1f;
$black: #000;
$link-hover: rgb(209, 209, 209);

// ======================================