.about {
    background-color: $gray-white;
    padding: 60px 0 20px;
}

.about__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
}

.about-objective {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    @media (max-width: 1200px) {
        width: 80%;
        justify-content: center;
        order: 2;
    }
}

.about__item {
    max-width: 287px;
    padding: 40px;

    @media (max-width: 1200px) {
        padding: 20px;
    }

    @media (max-width: 767px) {
        
    }
}

.about__title {
    color: $darkGray-title;
    margin-bottom: 22px;
}

.about-description {
    width: 50%;
    @media (max-width: 1200px) {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        order: 1;
    }
}

.about-description__title {
    color: $darkGray-title;
    margin-bottom: 50px;

    @media (max-width: 767px) {
        font-size: 36px;
    }
}

.about-description__text {
    margin: 0 44px 30px 0;

    @media (max-width: 1200px) {
        margin-right: 0;
    }
}