.works-menu {
    max-width: 750px;
    margin: 0 auto;
}

.works-menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-menu__item {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    position: relative;
    margin-bottom: 15px;

    &:not(:first-child) {
        margin-left: 60px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        display: block;
        width: 0;
        height: 2px;
        background-color: $lightGray-text;
        opacity: 0;
        transition: width .2s ease-in-out;
    }
    &:hover:after {
        width: 100%;
        opacity: 1;
    }
    
    @media (max-width: 992px) {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.works-menu__item--active {
    position: relative;
    &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        bottom: -6px;
        height: 2px;
        background-color: $darkGray-title;
        opacity: 1;
    }

}

.works-menu__link {
    text-transform: uppercase;
    color: $lightGray-text;
}

.works-menu__link--active {
    font-weight: bold;
    color: $darkGray-title;
}

.works-gallery {
    margin-left: -15px;
    margin-right: -15px;
}

.works-gallery_item {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    padding: 15px;

    @media (max-width: 767px) {
        width: 50%;
    }
    
}

.works-gallery__img {
    display: block;
    max-width: 100%;
    height: auto;
    

    @media (max-width: 767px) {
        // width: 50%;
    }
}